DATABASE_URL=postgresql://postgres:postgres@localhost:5432/postgres

GEMINI_API_KEY=YOUR_GEMINI_API_KEY

# STORAGE WITH MINIO (S3 COMPATIBLE)
AWS_ACCESS_KEY_ID="admin"
AWS_SECRET_ACCESS_KEY="adminadmin"
AWS_ENDPOINT="http://localhost:9000"
AWS_REGION="us-east-1"
AWS_BUCKET="default"
AWS_PUBLIC_BUCKET_BASE_URL="http://localhost:9000"
AWS_FORCE_PATH_STYLE=true

TENANT_ID=cab0b6a7-749f-4ea4-9f94-485acebe57ed